<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<title>The Gathering August 27-30, 2015</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="description" content="The Gathering - August 27-30. A back to the elements festival, filled with culinary delights and intimate cooking and dining experiences, in celebration of all things Newfoundland.">
    <meta name="author" content="The Gathering">
  
	<!-- Facebook Metadata /-->
	<meta property="fb:page_id" content="265343250233536" />
	<meta property="og:site_name" content="The Gathering Burlington">
  	<meta property="og:title" content="The Gathering Burlington | A back to the elements festival, filled with culinary delights and intimate cooking and dining experiences, in celebration of all things Newfoundland.">
  	<meta property="og:image" content="http://thegatheringburlington.com/assets/images/panels/23-s.jpg"/>
  	<meta property="og:url" content="http://thegatheringburlington.com/">  

	<!-- Google+ Metadata /-->
	<meta itemprop="name" content="The Gathering Burlington">
	<meta itemprop="description" content="The Gathering Burlington | August 27-30. A back to the elements festival, filled with culinary delights and intimate cooking and dining experiences, in celebration of all things Newfoundland.">
	<meta itemprop="image" content="http://thegatheringburlington.com/assets/images/panels/21-s.jpg">
	
	<link rel="stylesheet" href="/css/styles.css">

</head>
<body class="page" style="background-color: #0b0803;">
<a class="js_menu"></a>
<nav role="navigation" class="js_nav">
	<ul>
		<li><a href="/index.html" data-title="Home">Home</a></li>
		<li><a href="/music/" data-title="Music">Music</a></li>
		<li><a href="/chefs/" data-title="Chefs">Chefs</a></li>
		<li><a href="/schedule/" data-title="Schedule">Schedule</a></li>
		<li><a href="/lodging/" data-title="lodging">Lodging</a></li>
		<li><a href="/information/" data-title="Information">Information</a></li>
		<li><a href="/story/" data-title="Story">Story</a></li>
		<li><a href="/experience/" data-title="Experience">Photos</a></li>
		<li><a href="/contact/" data-title="Contact">Contact</a></li>
		<li><a href="/tickets/" class="button" data-title="Tickets">Tickets</a></li>
	</ul>
</nav>
<div class="viewport">
	<div class="js_content"> <section class="content">
	<div class="wrapper">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
		<h1><span>Music</span><br>
		The Secrets</h1>
		<img src="/assets/images/content/music-the_secrets.jpg" alt="music-the_secrets.jpg">
		<h2><a href="http://www.thesecrets.ca/" target="_blank">www.thesecrets.ca</a></h2>

		<p> </p>
				<hr>
		<div class="js_nav"><a href="/music/" class="button" data-title="Music">See All Artists</a></div>
				<footer>
			<h1>Gathering Excursions!<br>
				<span>Zodiac &amp; Kayak Tours</span></h1>
				<a href="/adventure" class="button">Full Details</a>
			<hr>
			<h1><span>#firefoodmusic</span></h1>
			<h2>Burlington, NL</h2>
			<p>&copy; 2014. All rights reserved.</p>
			<nav>
				<ul>
					<li><a href="https://www.facebook.com/thegatheringburlington" target="_blank"><span class="icon-facebook-circled"></span></a></li>
					<li><a href="http://www.twitter.com/BurlGathering" target="_blank"><span class="icon-twitter-circled"></span></a></li>
					<li><a href="http://instagram.com/thegatheringburlington" target="_blank"><span class="icon-instagram-circled"></span></a></li>
				</ul>
			</nav>
		</footer>  
	</div>
</section> 		</div> <!-- .js_content -->
</div> <!-- .viewport -->
<div class="bg fixed" style="background-image: url(/assets/images/01.jpg); background-color: #0b0803;"></div>
<!-- templatoids -->

<script id="card" type="text/template">
	<a href="{{ url }}" target="_blank" class="card js_exempt" data-likes="{{ likes }}" title="{{ title }}">
		<div class="container">
			<div><span class="icon-instagram-circled"></span></div>
		</div>
		<div class="bg" style="background-image: url({{ img }})"></div>
	</a>
</script>
<script id="paginate" type="text/template">
	<a href="{{ next_url }}" class="button">Next 30</a>
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42130420-1', 'thegatheringburlington.com');
  ga('send', 'pageview');

</script>
<!-- fontoids -->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- javascriptoids -->

<script src="http://static.fundrazr.com/widgets/loader.js" ></script>

<script src="/js/jquery-1.8.3.min.js"></script>
<script src="/js/mustache.js"></script>
<script src="/js/modernizr.custom.47169.js"></script>
<script src="/js/instagram.js"></script>

<script src="/js/fx.js"></script>
<script src="/js/script.js"></script>
<script src="/js/app-nav.js"></script>
</body>
</html>
