/* --------------------------------------------------

	FUNCTION PARTIALS
	
-------------------------------------------------- */
%wrapper {
	position: relative;
	max-width: $max-width;
	padding: $spacer;

	@include clearfix;
}
%full-coverage {
	background-position: 50% 50%;
	background-size: cover;	
	position: absolute;
	z-index: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
%links-macro {
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
	color: $secondary;
	height: $spacer;
	display: block;
	overflow: hidden;
}
@mixin enable-hardware-acceleration() {
	@include transform(translate3d(0,0,0));	
	@include transform(translateZ(0));	
}

@mixin panel($ratio:1, $width:100%) {
	position: relative;
	background-position: 50% 50%;
	background-size: cover;		
	overflow: hidden;
	text-align: center;
	@include intrinsic-ratio($ratio, $width);
	.container {
		// centering in the unknown (css-tricks.com)
		position:absolute;
		z-index: 1;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
		div {
			display: inline-block;
			vertical-align: middle;
			width: 80%;
		}
	}
}
@mixin vert-centre($height) {
	position: relative;
	.container {
		display: table;
		height: $height;
		width: 100%;
		text-align: center;
		> div {
			display: table-cell;
			vertical-align: middle;
		}
	}
}