---
layout: default
title: Chefs
---
<section class="content">
	<div class="wrapper">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
		<h1><span>CHEFS</span><br>
		Hand picked team of world class chefs</h1>
		
		<img src="/assets/images/content/chef-roary.jpg" alt="chef-roary">
		<h1>Roary MacPherson</h1>
		<h2>The Sheraton</h2>
		<p>Roary MacPherson, Executive chef at the Sheraton Hotel Newfoundland since 2003  is a proud Newfoundlander. Five Time James Beard Foundation presenter, 2 time culinary Olympic competitor once with a bronze medal, twice Gold Medal Plates St. John’s bronze medal winner, Good Food Innovations award for Food day Canada 2012 , 2011 Best menu award for Food day Canada ,   Roary is no stranger to competitions both local, national and International . In 2005 he represented Canada in the 1st Canada vs. USA cook off at the international culinary tourism conference in San Francisco, where as a member of a three person team they won gold. Roary has worked all across the country and back again with Fairmont Hotels and Resorts, Delta Hotels and resorts and now with Fortis Properties and the Sheraton.</p>
		<p>Roary is a big promoter of others in the province as well through his trips to the James Beard house where there have been in excess of 25 Newfoundland chef’s with another 7 going in 2013. Right Now his latest project is managing the senior culinary team at the upcoming Atlantic competition. Also a firm believer in upgrading his skills Roary has completed his Chef De Cuisine certification and is a Certified Food and Beverage Executive. Roary continues to be a huge part of the community as well with countless  charitable event with many organizations  from Children’s Wish, Anglican Church of Newfoundland projects, Autism just to name a few.</p>
		<p>Roary continues to promote the province as well, This past fall he organized The rural portion of the From This Rock culinary road show and also help organize the inaugural Mid-Winter Bivver Snowmobile event In Grand Falls Windsor. This March He is off To Boston to participate in the Boston Seafood Show.</p>
		
		<hr>

		<img src="/assets/images/content/chef-garcelon.jpg" alt="chef-garcelon">
		<h1>David and Kylie Garcelon</h1>
		<h2>The Waldorf Astoria New York</h2>
		<p>Chef David Garcelon took his first kitchen position at the age of 14 and soon recognized his love of food and culinary passion. Throughout his career, Chef Garcelon has consistently developed his culinary expertise to successfully lead some of the largest hotel kitchens in the world.</p>
		<p>“As someone who has worked in hotels for the majority of my career, the opportunity to be part of The Waldorf=Astoria is something I have always dreamed of,“ remarks Chef Garcelon. “Leading kitchens where numerous iconic dishes were created instills a powerful drive to expand upon and innovate the hotel’s culinary offerings.”</p>
		<p>Chef Garcelon, director of culinary at The Waldorf=Astoria, is responsible for the entire kitchen operations of the landmark hotel. A 20-year veteran of executive chef positions around North America, he brings his love of food and passion for using the finest, locally sourced ingredients to the iconic hotel’s distinctive restaurants: the stylish Peacock Alley, the jewel of the hotel’s lobby, renowned for its extravagant brunch and seafood menu; Bull & Bear steakhouse, a Manhattan institution; and Oscar’s American Brasserie, offering casual dining.</p>
		<p>Chef Garcelon, who grew up in New Brunswick, Canada is a graduate of Cornell University and the Culinary Institute of Canada, and is a Certified Food and Beverage Executive with the American Hotel & Motel Association and a Certified Executive Chef with the American Culinary Federation. His dedication to the culinary world even extends into his personal life as his wife shares his love of food and hospitality and is currently a culinary instructor.</p>
		<p>Prior to joining The Waldorf=Astoria, Chef Garcelon served as executive chef of the 1,364-room Fairmont Royal York Hotel in Toronto, where he led Canada’s largest hotel kitchen. As an advocate for local and sustainable food sourcing and purchasing, Chef Garcelon proudly oversaw the hotel’s rooftop herb garden, only one of its kind in Toronto, as an extension of the hotel’s environmental program and in 2008 established a rooftop apiary. He has also served as executive chef for The Fairmont Southampton Bermuda; Fairmont Jasper Park Lodge, Jasper, Alberta; and CP Hotels’ The Lodge at Kananaskis, Kananaskis, Alberta.</p>
		<p>Chef Garcelon is charged with bringing his expertise to The Waldorf=Astoria, the epicenter of New York City’s business, social, cultural and political life and one of the city’s most diverse dining destinations. He is poised to innovatively expand on the hotel’s already famed culinary history. The Waldorf=Astoria is credited with the creation of such American staples as veal Oscar, lobster Newburg, eggs Benedict and (of course) Waldorf salad and helped popularize culinary traditions like Thousand Island dressing and red velvet cake.</p>
		
		<hr>
		
		<img src="/assets/images/content/chef-charles.jpg" alt="chef-charles">
		<h1>Jeremy Charles</h1>
		<h2>Raymonds Restaurant</h2>
		<p>Chef Jeremy Charles has spent the last 10 years on a cross-continental culinary adventure. He has travelled from the rugged wilderness of the Canadian shield at the Molson Fly Fishing Camp in Godbout, Quebec, where he was head chef to the Molson and Bronfman families, to the slick urban oases of Los Angeles and Chicago, where he staged and served as a private chef. The diversity of Jeremy's experience continues to guide him on his culinary journey toward the redefinition of rustic East Coast cuisine. While at the helm of Atlantica — voted in 2007 the #1 Best New Restaurant in Canada by EnRoute Magazine — Jeremy's penchant for using only the freshest, most vibrant and authentic ingredients from local purveyors won him accolades at home and abroad. Now he plans to raise the culinary bar in St. John's once again.</p>
		
		<hr>
		
		<img src="/assets/images/content/chef-mccrowe.jpg" alt="chef-mccrowe">
		<h1>Mark McCrowe</h1>
		<h2>The Club</h2>
		<p>Mark McCrowe was born and raised in St.John`s NL. Growing up around simple Newfoundland dishes using fresh seafood and wild game inspired an appreciation of our local style of food and where it comes from. After studying culinary and baking and pastry arts in British Columbia and working in some of Van cities finest kitchens he returned home to further his own individual style as a Chef. Opening his first restaurant Aqua at the age of 26 and his second more casual gastro-pub The club at the age of 29. Mark is living his dream cooking the food he loves to cook and doing it in the place and for the people that mean so much to him.........happy Cooking!!</p>

		<hr>
		<img src="/assets/images/content/chef-hussey.jpg" alt="chef-hussey">
		<h1>Shaun Hussey</h1>
		<h2>Chinched</h2>
		<p>After graduating with honours from The Culinary Institute of Canada in 2002, Chef Shaun Hussey worked at various restaurants in Bolton Landing, New York, Nantucket, Massachusetts, and St. Martin, Dutch West Indies before finding a comfortable niche with a young Chef named Michael LaScola.</p>
		<p>LaScola owns and operates Nantucket’s American Seasons. During the four and a half years as Chef de Cuisine of American Seasons, Hussey was fortunate enough to be involved in The Paton Dinner, a ten course dinner to benefit The Boy’s and Girl’s Club of Nashville, Tennessee, “A Taste of New England” James Beard Dinner in New York City, New York, and numerous wine dinner’s including such small production wineries as Stag’s Leap, Paul Hobbs, Faila, Turley, and PAX.</p>
		<p>In September 2008 Hussey returned back to his native Newfoundland and assumed the position as Chef of Nicole’s Café located in Joe Batt’s Arm, Fogo Island. This up and coming establishment received a four star review from Telegram Food writer Karl Wells which placed Nicole’s Café on the Top Ten Newfoundland Restaurants of 2008.</p>
		<p>August of 2010 marked a highlight in Hussey’s career as he and wife, Michelle LeBlanc, open Chinched Bistro, a place where both Michelle and Hussey could showcase their passion for Newfoundland culture, food and preservation of old ways. Chef Hussey’s skill with “nose to tail” cooking is showcased daily in the preparation of the Charcuterie at Chinched Bistro.</p>
		<p>Since opening Chinched, Hussey has been largely involved in the culinary community in St. John’s taking part in such events as Gold Metal Plates, Hot Soup Cool Jazz, “Cooking for Life” at Daffodil Place and The Sealers Memorial Seal of Approval Dinner.</p>
		<p>In 2013 Chef Hussey and his team took home the Gold at the St. John’s Gold Medal Plates Competition and then went on to represent Newfoundland in Kelowna at the Canadian Culinary Championships.</p>
		
		<hr>
		<img src="/assets/images/content/chef-andrews.jpg" alt="chef-andrews">
		<h1>Roger Andrews</h1>
		<h2>Relish</h2>
		<p>Roger Andrews is an honours graduate of the Culinary Institute of Canada and has worked, various Canadian Provinces, Bermuda and The Cayman Islands.  He has been a  member of Culinary Team Canada since 2006 and has competed on the local, regional, national and international Culinary Competition Scenes receiving numerous medals, awards and cash prizes.  Most Recently a Bronze Medallist at The Ika World Culinary Olympics in Erfurt  Germany in October 2012. He is currently a chef instructor at The College of the North Atlantic in St Johns, as well as being a part owner of Relish Gourmet Burgers ( www.relishyou.ca ).  Roger also spends a considerable amount of time volunteering for various groups and charities as well as coaching junior chefs from Newfoundland and Labrador in various cooking competitions throughout Canada.</p>

		<hr>
		<img src="/assets/images/content/chef-ryan.jpg" alt="chef-ryan">		
		<h1>Angie Ryan</h1>
		<h2>The Sheraton</h2>
		<p>Angie Ryan, chef de partie (pastry) at the Sheraton Hotel Newfoundland is a graduate of the Culinary Institute of Canada. Having worked Bermuda and The Cayman Islands she returned home to start a family while having a successful career. Angie is the former Apprentice of the Year for PEI, Gold Medal winner For Newfoundland Junior Culinary Team at Atlantic championships, and a three time member of Senior Team Newfoundland. She attended The Culinary Olympics in Erfurt, Germany in 2008 where she did support work for her chef Roary Macpherson in his achievement of being Newfoundland’s first medallist at the Olympics. She has also been the lead pastry chef four consecutive times on various team trips for Newfoundland Chefs to the Prestigious James Beard House in New York City.</p>

		<hr>
		<img src="/assets/images/content/chef-blanchard.jpg" alt="chef-blanchard">
		<h1>Adam Blanchard </h1>
		<h2>5 Brothers Cheese</h2>
		<p>Adam Blanchard was born in Carbonear, Newfoundland and after living away for a number of years decided to move back to Newfoundland after finishing Culinary Arts program. During this extensive two year program Adam worked at some excellent restaurants both on PEI and during his internship in Toronto. It was his time in at Pangaea Restaurant that Adam first came across cheese making and struck a certain chord with him.
		<p>Once finished at The Culinary Institute of Canada, Adam returned home to St. John's unsure of where he was headed with his career. Early 2011, looking for a new skill. with what he had seen in his travels with cheese, Adam, started making it for friends and family. Initial reaction was nothing but positive for the cheese and realizing there was no artisan cheese maker in St. John's, let alone in Newfoundland he decided to take Five Brothers Artisan Cheese to the St. John's Farmers Market where it was an outstanding initial season winning The Scope's Best Farmers Market Vendor.</p>
		<p>In 2011, Adam left Magnum & Steins and turned Five Brothers Artisan Cheese into a full time venture. A building was leased on Cashin Ave and renovations began to get the facility up to both Provincial and Federal health standards. In November, 2011, Bacalao Restaurant used Five Brothers Artisan Cheese as part of their 'Goat Dish' in the Newfoundland Gold Medal Plate Competition and won Gold Medal, meaning they took Five Brothers Artisan Cheese as part of the National competition. Then in 2012, Five Brothers Artisan Cheese went to The Savour Food and Wine Show at the Delta Convention Center and took home the award for 'Best Cold Food'. Two days later was the grand opening of the Five Brothers Artisan Cheese production facility where various members of media and politics along with cheese lovers came out to celebrate Newfoundland's first artisan cheese company opening.</p>
		<p>Five Brothers Artisan Cheese was also invited to St. John's City Hall to be introduced before a council meeting as the first artisan cheese company in Newfoundland. From the beginning there were newspaper articles in The Telegram, The Wellington Times and later The Globe and Mail to segments on TV with CBC and NTV to pieces on the radio with CBC and VOCM.</p>
		<p>Five Brothers Artisan Cheese in 2012 became a member of the Dairy Farmers of Canada and uses 100% Newfoundland milk.</p>
		<p>Adam and Five Brothers has participated in Roots, Rants and Roars (Elliston, Newfoundland), Eat The Hill (Clarenville, Newfoundland), Canadian Cheese Grand Prix (Montreal, Quebec) Taste of North America Wine Show and most recently had a booth at the Great Canadian Cheese Festival (Picton, Ontario).</p>
		<p>Five Brothers Artisan Cheese is now available at Belbin's Grocery, Water St. Variety, and Rocket Bakery.</p>
		
		<hr>

		<h3>Also featuring...</h3>
		<h4>Andrea Maunder</h4>
		<p>Bacalao</p>
		
		<h4>Roger Dwelling </h4>
		<p>The St. Jude</p>

		<h4>Brian Piercey </h4>
		<p>The Celtic Hearth</p>

		<h4>Courtney Ralph</h4>
		<p>Rocket Bakery</p>
		
		{% include content-footer.inc.html %} 
	</div>
</section>
