---
layout: default
title: Schedule
---
<section class="content">
	<div class="wrapper">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
		<h1>2015 Gathering Grounds Performance Schedule</h1>
		<h2><a href="full/" class="button">Full Schedule</a></h2>
	

		<div class="sched">
			

			<h1 id="fri">Friday<br>
			<span>August 28, 2015</span></h1>
			<h2>12:30-3:15 &mdash; LOCAL ARTISTS</h2>
			<h2>3:30-3:50 &mdash; Beautiful Wrecks</h2>
			<h2>4:00-4:30 &mdash; The Celtic Fiddlers</h2>
			<h2>4:45-5:15 &mdash; Local Up and Comers</h2>
			<h2>5:30-6:15 &mdash; Fergus N’ Jim</h2>
			<h2>6:30-7:00 &mdash; Dave McHugh Band</h2>
			<h2>7:15-7:45 &mdash; The Secrets</h2>
			<h2>8:00-8:45 &mdash; Sherman Downey</h2>
			<h2>9:00-9:45 &mdash; The Fortunate Ones</h2>
			<h2>10:00-11:00 &mdash; Alan Doyle</h2>
			<hr>
			<h1 id="sat">SATURDAY<br>
			<span>August 29, 2015</span></h1>
			<h2>12:30-3:15 &mdash; LOCAL ARTISTS</h2>
			<h2>3:30-3:50 &mdash; Dave Thompson</h2>
			<h2>4:00-4:30 &mdash; The Celtic Fiddlers</h2>
			<h2>4:45-5:15 &mdash; Young Sleveen</h2>
			<h2>5:30-6:15 &mdash; Fergus N’ Jim</h2>
			<h2>6:30-7:00 &mdash; Sherman Downey</h2>
			<h2>7:15-7:45 &mdash; Adam Baxter</h2>
			<h2>8:00-8:45 &mdash; The Fortunate Ones</h2>
			<h2>9:00-9:45 &mdash; Rex Goudie</h2>
			<h2>10:00-11:00 &mdash; Shanneyganock</h2>
		</div>
		<hr>
		<h2><a href="full/" class="button">Full 4-day Schedule</a></h2>
		<h3>Attending?! <a href="/information/">Read This!</a></h3>

		{% include content-footer.inc.html %}
	</div>
</section>
