---
layout: default
title: The Gathering Story
---
<section class="content">
	<div class="wrapper">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
		<h1><span>The Story</span><br>
		Fire Food &amp; Music
		</h1>
					
		<h2>An annual celebration of Fire, Food and Music, drawing people from NL and beyond to come experience the abundance of wild isolated beauty of Burlington, Middle Arm and Smith's Harbour.</h2>
		
		<h2>All profits from Ticket Sales go back into the community in support of a larger social enterprise, <a href="#bsmmanor">BSM MANOR</a>.</h2>
		
		<h3>As one single part of the larger social business, the Gathering will play an important role in transforming the region into a viable, world-class tourist destination through intimate music performances by local and internationally known artists, traditional and contemporary NL cuisine, story telling, chef hikes and much more. The Gathering will help facilitate people’s access to the many unique experiences rural NL has to offer by allowing them to participate in the power of the landscape and its people. And of course, our goal is to raise as much money as we can, to support the long term aspirations of the larger social enterprise under BSM Manor not for profit.</h3>
		
		<hr>
		<h1>Building from the ground up</h1>
		<h2>The Gathering, Remote Glamping, and Guest Pods</h2>
		
		<h3>The Road to Majumder Manor is a rocky one, and why wouldn’t it be? This is Newfoundland after all. The aspiration to turn Burlington, NL into a world class tourist destination requires many things, but at the most fundamental level, the area needs somewhere to stay and somewhere to eat – food and shelter – easy right? No. There are joys to be experienced that are particular to this place. The challenge is finding out how to facilitate people’s access to them. The Manor itself is obviously an important part of the overall project, but it is only one component of what we hope will be a much greater whole. If we get this ‘whole’ right, it will transcend the sum of all of its parts.</h3>
		
		<h3>One must play to one’s strengths. Newfoundland and Labrador has an abundance of isolated, wild beauty. Burlington, NL is remote even by Newfoundland and Labrador standards. This being away from everything brings a certain stillness to the experience. Rocks, trees, and river somehow seem impossibly close. Everything can be more easily touched. Our innate need to connect with this earth, our home, is easier here. One of the ways we understand the meaning of our landscape, is by moving through it, and participating in its power. This is especially true in rural Newfoundland and Labrador. The activities that are available here are too numerous to list, whether summer or winter (and most points in between) but one thing that they all have in common, is that they involve a balance of communion with the natural world, and celebration of the social ties (new and old) that bond us. The Gathering - Fire Food and Music, is the annual festival that we throw in late summer in the town and it is one of the ways that we are actively spreading the word about the region.</h3>
		
		<h3>The ‘Ground Up’ pieces of the project involve generation and refining several different elements that start at a critically minimum scale. A community Greenhouse will be essential in food sourcing, as well as growing the social enterprise that is BSM Manor. The Remote Glamping tents allow us to ‘test’ the viability of a given site or location for accommodation. They are rich with amenity and allow great comfort to marry with an unfettered connection to nature. The Guest Pods are the smallest scale of new built permanent structures for the project and will be one or two bedroom units that will be built in remote locations and can grow organically in number as the overall project demands. Each of these aspire to distill the magic of the natural beauty of this remote pocket of rural Newfoundland and Labrador.</h3>
		
		<hr>
		<a name="bsmmanor"></a>	
		
		<h1>What is BSM Manor?</h1>
		
		<h3>BSM MANOR is a not for profit business (# 811030089RC0001) that will create social businesses and help fuel an economic engine that will contribute to a new, significant tourism destination on the Baie Verte Peninsula, NL Your contribution will go towards providing financial support to entrepreneurs in the Burlington-Smith’s Harbour-Middle Arm area, along with helping to maintain a sustainable micro economy for the region. The overall community development project will include the construction of a community greenhouse and subsequent “Hummock View Greens,” luxury camping or "Glamping," along with remote guest cabins and eventually a central lodge (Manor) and restaurant</h3>
		{% include content-footer.inc.html %}
	</div>
</section>
