		<footer>
			<h1>Gathering Excursions!<br>
				<span>Zodiac &amp; Kayak Tours</span></h1>
				<a href="/adventure" class="button">Full Details</a>
			<hr>
			<h1><span>#firefoodmusic</span></h1>
			<h2>Burlington, NL</h2>
			<p>&copy; 2014. All rights reserved.</p>
			<nav>
				<ul>
					<li><a href="https://www.facebook.com/thegatheringburlington" target="_blank"><span class="icon-facebook-circled"></span></a></li>
					<li><a href="http://www.twitter.com/BurlGathering" target="_blank"><span class="icon-twitter-circled"></span></a></li>
					<li><a href="http://instagram.com/thegatheringburlington" target="_blank"><span class="icon-instagram-circled"></span></a></li>
				</ul>
			</nav>
		</footer>