		</div> <!-- .js_content -->
</div> <!-- .viewport -->
<div class="bg fixed" style="background-image: url(/assets/images/01.jpg); background-color: #0b0803;"></div>
<!-- templatoids -->
{% raw %}
<script id="card" type="text/template">
	<a href="{{ url }}" target="_blank" class="card js_exempt" data-likes="{{ likes }}" title="{{ title }}">
		<div class="container">
			<div><span class="icon-instagram-circled"></span></div>
		</div>
		<div class="bg" style="background-image: url({{ img }})"></div>
	</a>
</script>
<script id="paginate" type="text/template">
	<a href="{{ next_url }}" class="button">Next 30</a>
</script>
{% endraw %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42130420-1', 'thegatheringburlington.com');
  ga('send', 'pageview');

</script>
<!-- fontoids -->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- javascriptoids -->

<script src="http://static.fundrazr.com/widgets/loader.js" ></script>

<script src="/js/jquery-1.8.3.min.js"></script>
<script src="/js/mustache.js"></script>
<script src="/js/modernizr.custom.47169.js"></script>
<script src="/js/instagram.js"></script>

<script src="/js/fx.js"></script>
<script src="/js/script.js"></script>
<script src="/js/app-nav.js"></script>
</body>
</html>