---
layout: default
title: The Experience
---
<section class="content">
	<div class="wrapper">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
		<h1><span>Photos</span><br>
		Look at these great shots from Gatherings Passed</h1>
		<img src="/assets/images/content/photos-2014-ajsmith-156.jpg" alt="content">
		<img src="/assets/images/content/photos-2014-ajsmith-161.jpg" alt="content">
		<img src="/assets/images/content/photos-2014-03.jpg" alt="content">
		<img src="/assets/images/content/photos-2014-01.jpg" alt="content">
		<img src="/assets/images/content/photos-2014-02.jpg" alt="content">

		{% for num in (1...5) %}
			<img src="/assets/images/2013/Gathering_PeterAndrew ({{ num }} of 79).jpg" alt="Gathering 2013">
		{% endfor %}
		{% for num in (10...54) %}
			<img src="/assets/images/2013/Gathering_PeterAndrew ({{ num }} of 79).jpg" alt="Gathering 2013">
		{% endfor %}
		<img src="/assets/images/content/scenery-11.jpg" alt="content">
		<img src="/assets/images/content/scenery-12.jpg" alt="content">
		<img src="/assets/images/content/scenery-13.jpg" alt="content">
		<img src="/assets/images/content/scenery-14.jpg" alt="content">
		<img src="/assets/images/content/scenery-15.jpg" alt="content">
		<img src="/assets/images/content/scenery-07.jpg" alt="content">
		<img src="/assets/images/content/scenery-01.jpg" alt="content">
		<img src="/assets/images/content/scenery-02.jpg" alt="content">
		<img src="/assets/images/content/scenery-10.jpg" alt="content">
		<img src="/assets/images/content/scenery-03.jpg" alt="content">
		<img src="/assets/images/content/scenery-04.jpg" alt="content">
		<img src="/assets/images/content/scenery-05.jpg" alt="content">
		<img src="/assets/images/content/scenery-06.jpg" alt="content">
		<img src="/assets/images/content/scenery-08.jpg" alt="content">
		<img src="/assets/images/content/scenery-09.jpg" alt="content">
		
		{% include content-footer.inc.html %}
	</div>
</section>
