---
layout: default
title: Shanneyganock
---
<section class="content">
	<div class="wrapper">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
		<h1><span>Music</span><br>
		Shanneyganock</h1>
		<img src="/assets/images/content/music-shanney.jpg" alt="music-shanney.jpg">
		<h2><a href="http://www.shanneyganock.com/" target="_blank">www.shanneyganock.com</a></h2>

		<p>A baritone growl rumbles across the room, curling the ex-patriot toes as they grip their drinks and pump their fists wildly. A shout of “Any Newfoundlanders here tonight?”, rips the face off anyone standing too close to the speakers while the Star of Logy Bay takes that legendary roll call.</p>

		<p>For almost 20 years Chris Andrews and Mark Hiscock have travelled the world reminding Newfoundlanders and Labradorians’ they are not forgotten, their place is set at the table and they are always welcome back.</p>

		<p>Mark Hiscock’s fingers flash over an array of buttons on his accordion. It’s been the same since he first stepped on stage at age 5. His top 40 was Harry Hibbs, Minnie White and Frank Mahar.</p>

		<p>Stephenville local, Bob Pike, has been anchoring the band’s rhythm section both in studio and on stage for almost every show. He knows what the band means to legions of fans and what it means to him. And now multi-instrumentalist Billy Sutton, from Harbour Grace, joins him on the kit. With the two of them locked in the crowd will be stomping or dancing guaranteed.</p>

		<p>In 2014 with the release of their 8th album Itunes sales reflected a debut of #1 on the world charts. In twenty years they have sold over 100,000 copies of their CDs, DVDs and even cassette tapes.</p>

		<p>Shanneyganock continues to sing about displaced peoples, shrinking fisheries and the still of a bay. Those are the hits where they come from. And those hits continue to speak loudly to working class families.</p>
		{% include content-music-footer.inc.html %} 
	</div>
</section>