/* --------------------------------------------------

	VIDEO
	http://www.alistapart.com/articles/creating-intrinsic-ratios-for-video/
	
-------------------------------------------------- */
video {
	max-width: 100%;
	height: auto;
}

.flex-video {
	position: relative;
	//padding-top: 25px;
	padding-bottom: 67.5%;
	height: 0;
	margin-bottom: $spacer;
	overflow: hidden;
}
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
.flex-video iframe,
.flex-video object,
.flex-video embed {
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
}
/* --------------------------------------------------

	tweaks
	
-------------------------------------------------- */
.disable-hover {
	pointer-events: none;
}
.iOS_tweaks {
	height: 100vh;
	overflow: scroll;
	-webkit-overflow-scrolling: auto;
}
/* --------------------------------------------------

	loading spinner
	
-------------------------------------------------- */
.loading {
	position: relative;
	margin: 5% auto;
	display: block;
	width: $spacer;
	height: $spacer;
	text-align: center;
	@extend %zoomIn;
	&:after{
		position: absolute;
		content: "";
		border-bottom: 8px solid $black;
		border-left: 8px solid $black;
		border-right: 8px solid $primary;
		border-top: 8px solid $primary;
		display: block;
		height: $spacer;
		width: $spacer;
		@include border-radius(100%);
		@include animation-name(spin);
		@include animation-duration(600ms);
		@include animation-timing-function(linear);
		@include animation-iteration-count(infinite);
	}
}
/* -------------------------------------------------- */

/* js hooks

/* -------------------------------------------------- */
.js_target {
	position: relative;
	float: left;
	width: 100%;
	@include clearfix;
}
/* -------------------------------------------------- */

/* animations

/* -------------------------------------------------- */

%fadeIn {
	@include animation-name(fadeIn);
	@include animation-duration(660ms);
	@include animation-timing-function(ease-in-out);
	@include transform-origin(50%,0%);
	@include animation-fill-mode(forwards);
}
%slideIn {
	@include animation-name(slideIn);
	@include animation-duration(300ms);
	@include animation-timing-function(ease-out);
}
%slideOut {
	@include animation-name(slideOut);
	@include animation-duration(300ms);
	@include animation-timing-function(ease-out);
}
%zoomIn {
	@include animation-name(zoomIn);
	@include animation-duration(300ms);
	@include animation-timing-function(ease-out);
}
@include keyframes(zoomIn) {
	0%   {
		@include opacity(0);
		@include scale(0);
	}
	25%   {
		@include scale(0.6);
		@include opacity(0.2);
	}
	75%   {
		@include scale(1.2);
	}
	100% {
		@include scale(1);
		@include opacity(1);
	}
}
@include keyframes(slideOut) {
	0%   {
		@include transform(translate3d(0,0px,0));
		@include opacity(0);
	}
	100% {
		@include transform(translate3d(0,-100px,0));
		@include opacity(1);
	}
}
@include keyframes(slideIn) {
	0%   {
		@include transform(translate3d(0,-100px,0));
		@include opacity(0);
	}
	100% {
		@include transform(translate3d(0,0,0));
		@include opacity(1);
	}
}
@include keyframes(fadeIn) {
	0%   {
		@include opacity(0);
	}
	100% {
		@include opacity(1);
	}
}
@include keyframes(spin) {

	to {
		@include transform(rotate(359deg));
	}
 }