---
layout: default
title: Ashelin
---
<section class="content">
	<div class="wrapper">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
		<h1><span>Music</span><br>
		Ashelin</h1>
		<img src="/assets/images/content/music_ashelin.jpg" alt="music-ashelin.jpg">
		<h2><a href="http://www.ashelin.com" target="_blank">www.ashelin.com</a></h2>
		
		<p>ASHELIN, indigenous to the rocky shores of Newfoundland, are a five sibling, nu-folk, indie
		female band. Kaliyan, Cassy, Joesie, Thea and Shaelin Palmer began making music together 
		from a very young age. They never expected this childhood passion to flourish like it did and 
		soon found themselves embarking on a musical journey that is winning them the attention of 
		fans from all around the world. Ashelin have become known for their sparkling female vocals 
		and intricate harmonies which create an interesting brand of folk roots that shines through their 
		original song writing and novel interpretations of traditional tunes and covers.</p>
		<p>Their first public performance took place in 1997 when the siblings were just between the 
		ages of 2 and 9. Shaelin, the youngest member, did not join the group until 1999. They have 
		entertained thousands at such high profile events as the World Podium Influential Leaders 
		series with guest speaker Sarah Ferguson, Duchess of York. ASHELIN have showcased for 
		Contact East, the JUNOs, and the ECMAs, and have received numerous standing ovations 
		at folk festivals and arts and culture centres across the Maritime Provinces including the Stan 
		Rogers Folk Festival and the St. John’s Folk Festival.</p>
		<p>In 2012, ASHELIN kicked off the year with a 3 week tour to Ireland during the Mid-March St. 
		Patrick’s Day celebrations. They then headed to Tennessee where they spent the month of 
		April performing for Dolly Wood’s Festival of Nations. Since then, ASHELIN have toured Nova 
		Scotia and Prince Edward Island, Labrador, St. Pierre and Miquelon, and (for the second time) 
		the North-Eastern corner of the US, Maine and New Hampshire, which brought them accolades, 
		standing ovations and record houses.</p>
		<p>ASHELIN’s 2010 release “The Road Not Taken” was produced by Grammy Award winning 
		producer/engineer George Massenburg and ECMA award winning producer/engineer Al 
		Strickland, and features performances by East Coast talents such as bassist Jamie Gatti, multi-
		instrumentalist J.P. Cormier, and bluesman John Campbell John among others. </p>
		<p>Most recently, ASHELIN has made a return visit to perform for the 10th year anniversary gala 
		for Newfoundland’s College of the North Atlantic in Doha, Qatar. Upon their return they will be 
		working on material for their upcoming album.</p>
		<p>These five fresh talents can cast a spell over their audiences and will undoubtedly evolve into 
		Canadian ambassadors globally.</p>
		<h3>“Beautiful and harmonious!” BBC Ulster, 2012.</h3>
		
		<h3>“ASHELIN are tremendous performers… and one of the most professional groups with whom 
		I’ve worked.” says Ian Fraser, Director, Royal Nova Scotia Tattoo. </h3>
		
		<h3>"And while it’s often bold, deep male voices which are associated with his songs of people of
		the land and sea, it was a quintet of teenage sisters from Newfoundland called Ashelin who 
		sent the most shivers up the spines of those on stage as well as in the crowd. Their angelic 
		harmonies on Northwest Passage showed there is always new life to be found in Rogers’ words 
		and melodies, and proof that they will live on for decades to come." – The Stan Rogers Folk 
		Festival, 2008.</h3>
		
		{% include content-music-footer.inc.html %} 
	</div>
</section>