---
layout: default
title: Schedule
---
<section class="content">
	<div class="wrapper">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
		<h1>2014 Schedule <br><span>(last year)</span></h1>
		
		

		<div class="jk_ui_elevator">
			<a href="#fri" class="button">Friday</a>
			<a href="#sat" class="button">Saturday</a>
			<a href="#sun" class="button">Sunday</a>
		</div>
		<hr>
		<h2>Attending?! <a href="/information/" class="button">Read This!</a></h2>
		<hr>
		<div class="sched">
			<h1 id="fri">Friday<br>
			August 22, 2014</h1>
			<hr>
			
			<h1>1:00pm</h1>
			<h2>REGISTRATION OPENS<br>
			<span>Registration Tent</span></h2>
			<h3>Registration will be open all weekend.</h3>
			<hr>
			
			<h1>6:00pm</h1>
			<h2>COMMUNITY POTLUCK<br>
			<span>Town Hall, Middle Arm</span></h2>
			<h3>Featuring Folk of the Bay and Local Musical Talent.</h3>
			<hr>
			
			<h1>8:00pm</h1>
			<h2>SHAUN MAJUMDER AND FRIENDS FUNNY CONCERT<br>
			<span>MSB Regional Academy, Middle Arm</span></h2>
			<h3>Featuring Comedian Mark Critch and other great guests.</h3>
			<hr>
		
			
			<h1 id="sat">Saturday<br>
			August 23, 2014</h1>
			<hr>
	
			<h1>8:00am</h1>
			<h2>BREAKFAST<br>
			<span>Town Hall, Burlington</span></h2>
			<h3>In aid of a local community organization.</h3>
			<hr>
			
			<h1>11:00am</h1>
			<h2>GATHERING GROUNDS OPEN</h2>
			<h3>Musical performances all day by a number of old and new friends.</h3>
			<hr>
			
			<h1>12:00pm</h1>
			<h2>DINNER<br>
			<span>Gathering Grounds</span></h2>
			<h3>Delicious sustenance prepared by our world-class chefs.</h3>
			
			<h2>CHEF HIKE<br>
			<span>Jenning’s Cove</span></h2>
			<h3>Featuring  Chef Roger Andrews and Musical Guests Duane Andrews & Craig Young and Steve Poltz.<br>
			Bus Service available, leaving Gathering Grounds.</h3>
			<hr>
			
			<h1>2:00pm</h1>
			<h2>GOUDIE’S SUMMER MUMMER SHED CRAWL<br>
			<span>Various Sheds</span></h2>
			<h3>Hosted by Rex Goudie<br>
			Bus Service available, leaving Gathering Grounds.</h3>
			
			<h2>FOLK OF THE BAY<br>
			<span>Gathering Grounds</span></h2>
			<hr>
		
			<h1>5:00pm</h1>
			
			<h2>SUPPER<br>
			<span>Gathering Grounds</span></h2>
			<h3>If you didn’t get enough during the day, these chefs have even more for you to scoff down.</h3>
			
			<h2>EVENING CONCERTS<br>
			<span>Gathering Grounds</span></h2>

			<h3><strong>Evening concerts with great local artists along with;</strong><br>
				Fergus O'Byrne and Jim Payne<br>
				GBS alum Sean McCann<br>
				Steve Poltz<br>
				Duane Andrews and Craig Young</h3>
				
			<h1><span>9:30PM &mdash; Headlining act</span></h1>
				
			<h1>Minotaur!<br>
				Featuring what may or may not be the real Sam Roberts.</h1>
			
			<h3>MINIMUM PRICE OF ADMISSION IS A DAY PASS ($40.00)<br>
				****WHETHER YOU COME EARLY OR LATE!<br>
				COME EARLY HAVE SUPPER AND ENJOY ALL THE EVENING MUSIC!</h3>

			<hr>
			
			
			<h1 id="sun">Sunday<br>
			August 24, 2014</h1>
			<hr>
	
			<h1>8:00am</h1>
			<h2>BREAKFAST<br>
			<span>Town Hall, Burlington</span></h2>
			<h3>In aid of a local community organization.</h3>
			<hr>
			
			<h1>11:00am</h1>
			<h2>GATHERING GROUNDS OPEN</h2>
			<h3>Musical performances all day by a number of old and new friends.</h3>
			<hr>
			
			<h1>12:00pm</h1>
			<h2>DINNER<br>
			<span>Gathering Grounds</span></h2>
			<h3>Scrumptious delicacies prepared by our world-class chefs.</h3>
			
			<h2>CHEF HIKE<br>
			<span>Jenning’s Cove</span></h2>
			<h3>Featuring  Chef David Garcelon and Musical Guests Adam Baxter and other special friends.<br>
				Bus Service available, leaving Gathering Grounds.</h3>
			<hr>
			
			<h1>2:00pm</h1>
			<h2>GOSPEL CONCERT<br>
			<span>Gathering Grounds</span></h2>
			
			<h2>BROOK PICNIC AND SWIM<br>
			<span>Big Brook, Burlington</span></h2>
			<h3>Featuring Chef Jeremy Charles.</h3>
			<hr>
		
			<h1>5:00pm</h1>
			
			<h2>SUPPER<br>
			<span>Gathering Grounds</span></h2>
			<h3>Thought we were done? Not a chance!</h3>
			
			<h2>EVENING CONCERTS<br>
			<span>Gathering Grounds</span></h2>
			
			<h3><strong>Evening concerts with great local artists and some of the best acts in the country</strong></h3>
				
			<h1><span>9:30PM &mdash; Headlining act</span></h1>
				
			<h1>Ashelin!<br>
				<span>NU-FOLK-MEETS-CELTIC-ROCK NEWFOUNDLAND SIBLING QUINTET</span></h1>
			
			<h3>MINIMUM PRICE OF ADMISSION IS A DAY PASS ($40.00)<br>
				****WHETHER YOU COME EARLY OR LATE!<br>
				COME EARLY HAVE SUPPER AND ENJOY ALL THE EVENING MUSIC!</h3>
			<hr>
			
		
		</div>
		<a href="https://twitter.com/BurlGathering" class="button">Follow us on Twitter</a>

		{% include content-footer.inc.html %}
	</div>
</section>
