---
layout: default
title: Schedule
---
<section class="content">
	<div class="wrapper">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
		<h1>2015 Schedule</h1>
		<h2>Thursday, August 27 - Saturday, August 30</h2>
	

		<div class="jk_ui_elevator">
			<a href="#thurs" class="button">Thurs</a>
			<a href="#fri" class="button">Fri</a>
			<a href="#sat" class="button">Sat</a>
			<a href="#sun" class="button">Sun</a>
		</div>
		<hr>
		<h2>Attending?! <a href="/information/" class="button">Read This!</a></h2>
		<hr>
		<div class="sched">

			<h1 id="thurs">Thursday<br>
			<span>August 27, 2015</span></h1>
			
			<hr>

			<h1>12:00pm</h1>
			<h2>REGISTRATION OPENS<br>
			<span>Burlington Town Hall</span></h2>
			<h3>Arrival and registration.</h3>

			<h1>5:00 - 7:00pm</h1>
			<h2>OPENING NIGHT Jiggs Dinner Supper<br>
			<span>Middle Arm Town Hall</span></h2>
			<h3>And music jam.</h3>
			<img src="/assets/images/content/tickets/tickets-jiggs.jpg" alt="jiggs dinner supper" >
			<!--<p><a href="http://www.eventbrite.ca/e/opening-night-jiggs-dinner-supper-tickets-16263589835" target="_blank" class="button">Purchase Now</a></p>-->
			<br>
			<br>
			
			<h1>7:30pm</h1>
			<h2>COMEDY NIGHT <span>(early show)</span><br>
			<span>Middle Arm School Gym</span></h2>
			<h3>Featuring Shaun Majumder and friends.</h3> 
			
			<!-- <p><a href="http://www.eventbrite.ca/e/shaun-majumder-friends-comedy-night-tickets-16262900774" target="_blank" class="button">Purchase Now</a></p>
			<br> -->
			<img src="/assets/images/content/tickets/tickets-comedy.jpg" alt="comedy night">
			<br>

			<h1>10:00pm</h1>
			<h2>COMEDY NIGHT <span>(late show)</span><br>
			<span>Middle Arm School Gym</span></h2>
			<h3>Featuring Shaun Majumder and friends.</h3>
			<!-- <p><a href="http://www.eventbrite.ca/e/shaun-majumder-friends-comedy-night-tickets-16262900774" target="_blank" class="button">Purchase Now</a></p> -->

			<hr>

			<h1 id="fri">Friday<br>
			<span>August 28, 2015</span></h1>
			<hr>
			
			<h1>8:00 - 10:00AM</h1>
			<h2>BREAKFAST<br>
			<span>Burlington Town Hall ($7 donation at the door for local charity)</span></h2><br>
						
			<h1>11:00AM - 2:00PM</h1>
			<h2>BROOK PICNIC<br>
			<span></span></h2>
			<h3>Featuring from Raymonds Resturant <b>Chef Jeremy Charles</b>.</h3>
			<img src="/assets/images/content/tickets/brook-picnic-banner.jpg" alt="picnic">
			<!-- <p><a href="http://www.eventbrite.ca/e/picnic-by-the-brook-with-chef-jeremy-charles-tickets-16263961948" target="_blank" class="button">Purchase Now</a></p> -->

			<br>
			<br>

			<h1>12:00 - 5:00PM</h1>
			<h2>GATHERING GROUNDS<br>
			<span>Vendors, Local Music &amp; delicious food all afternoon brought to you by Chef Roary Macpherson and his amazing team. </span></h2>
			<h3>**Gathering Grounds food for <b>PREMIUM WEEKEND PASS</b> holders only!</h3>
			<img src="/assets/images/content/chef-mac.jpg">
			<br>
			<br>
			
		
			<h1>1:00 - 5:00PM</h1>
			<h2>CHEF HIKE #1<br>
			<span></span></h2>
			<h3>Hosted by Shaun Majumder, featuring from Adelaide Oyster House Chef Stephen Vardy.</h3>
			<img src="/assets/images/content/tickets/tickets-vardy-hike.jpg" alt="vardy chef hike">
			<!-- <p><a href="http://www.eventbrite.ca/e/gathering-chef-hikes-tickets-16262222746" target="_blank" class="button">Purchase Now</a></p> -->
			<br>
			<br>

			<h1>7:00 - 11:00PM</h1>
			<h2>Evening program featuring:</h2>
			<h1><span>Sherman Downey</span><br>
				<span>Fortunate Ones</span></h1><br>
				<h1>Alan Doyle
			</h1>
			<img src="/assets/images/content/music-doyle.jpg" alt="alan doyle">
			<br>

			<!-- <h3><a href="http://www.eventbrite.ca/e/premium-day-pass-includes-food-tickets-16355601043" target="_blank" class="button">Purchase Day Pass</a></h3> -->

			<hr>
		
			
			<h1 id="sat">Saturday<br>
			August 29, 2015</h1>
			<hr>
	
			<h1>8:00 - 10:00AM</h1>
			<h2>BREAKFAST<br>
			<span>Burlington Town Hall ($7 donation at the door for local charity)</span></h2><br>
						

			<h1>12:00 - 5:00PM</h1>
			<h2>GATHERING GROUNDS<br>
			<span>Vendors, Local Music &amp; delicious food all afternoon brought to you by Chef Roary Macpherson and his amazing team. </span></h2>
			<h3>**Gathering Grounds food for <b>PREMIUM WEEKEND PASS</b> holders only!</h3>
			
		
			<h1>1:00 - 5:00PM</h1>
			<h2>CHEF HIKE #2<br>
			<span></span></h2>
			<h3>Hosted by Shaun Majumder, featuring Fogo Island Inn's Chef Murray McDonald.</h3>
			<img src="/assets/images/content/tickets/tickets-chef-hike_murray.jpg" alt="hike photo banner">

			<!-- <p><a href="http://www.eventbrite.ca/e/gathering-chef-hikes-tickets-16262222746" target="_blank" class="button">Purchase Now</a></p>
			<br> -->
			<br>

			<h1>2:00 - 4:00PM</h1>
			<h2>REX GOUDIE SHEDCRAWL<br>
			<span></span></h2>
			<img src="/assets/images/content/tickets/shed_crawl.jpg" alt="rex goudie shed crawl" >
			<!-- <p><a href="http://www.eventbrite.ca/e/rex-goudies-summer-mummer-shed-crawl-tickets-16262851627" target="_blank" class="button">Purchase Now</a></p>
			<br> -->
			<br>
			<br>

			<h1>7:00 - 11:00PM</h1>
			<h2>Evening program featuring:</h2>
			<h1><span>Fergus &amp; Jim</span><br>
				<span>Sherman Downey</span><br>
				<span>Fortunate Ones</span></h1>

				<h1>Shanneyganock</h1>
			<img src="/assets/images/content/music-shanney.jpg">
			<br>
			<br>

			<!-- <h3><a href="http://www.eventbrite.ca/e/premium-day-pass-includes-food-tickets-16355601043" target="_blank" class="button">Purchase Day Pass</a></h3> -->

			<hr>
			
			
			<h1 id="sun">Sunday<br>
			August 30, 2015</h1>
			<hr>
	
			<h1>8:00 - 10:00am</h1>
			<h2>BREAKFAST<br>
			<span>Burlington Town Hall</span></h2>
					
			
			<h1>11:00am - 2:00PM</h1>
			<h2>CHIPS HILL HIKE</h2>
			<h3>Hosted by Shaun Majumder</h3>
			<img src="/assets/images/content/tickets/chips-hill-hike.jpg" alt="chips hill burlington">
		
			<h1>2:00 - 4:00PM</h1>
			<h2>Sunday Afternoon Gospel Show</h2>
			<h1><span>Featuring</span><br>
			The Secrets
			</h1>

			<img src="/assets/images/content/music-the_secrets_crop.jpg">
			
		
		</div>
		<hr>

		<a href="https://twitter.com/BurlGathering" class="button">Follow us on Twitter</a>

		{% include content-footer.inc.html %}
	</div>
</section>
