---
layout: default
title: The Secrets
---
<section class="content">
	<div class="wrapper">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
		<h1><span>Music</span><br>
		The Secrets</h1>
		<img src="/assets/images/content/music-the_secrets.jpg" alt="music-the_secrets.jpg">
		<h2><a href="http://www.thesecrets.ca/" target="_blank">www.thesecrets.ca</a></h2>

		<p> </p>
		{% include content-music-footer.inc.html %} 
	</div>
</section>