---
layout: default
title: The Gathering Story
---
<section class="content">
	<div class="wrapper">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
		<h1><span>Ocean Quest Adventures</span><br>
		Boat Tours and Kayaking Trips
		</h1>
		<h2><a href="http://www.oceanquestadventures.com/tours-packages/ocean-quest-gathering/" target="_blank" class="button">Book Now</a></h2>
		<hr>
		<h2>Hey Gatherers!</h2>

		<h3>So excited to announce the addition of Ocean Quest Adventures  coming to The Gathering in Burlington to provide exclusive boat tours and kayaking trips just for you! As I have always said Green Bay has some of the most spectacular scenery on the island of Newfoundland and to get out and see it on one of Ocean Quests Zodiacs is the way to go! </h3>
		<h3>They are truly one of Newfoundland's finest adventure tourism companies, and having gone on trips with Rick and his team, I can assure you, you will not be disappointed and should book an exclusive Gathering excursion ASAP. </h3>
		<h3>&mdash; Shaun</h3>
		<hr>
		<h2>Please contact:<br>
		<a href="">rick@oceanquestadventures.com</a><br>
		<a href="http://www.oceanquestadventures.com/tours-packages/ocean-quest-gathering/" target="_blank">oceanquestadventures.com</a></h2>
		<h3>They will be down on the Grounds from Thursday to Sunday morning.</h3>
		<hr>
		<h2>Here are some shots of what they do including me snorkelling with Humpbacks last year. </h2>
		
		<img src="/assets/images/ocean-quest/01.jpg">
		<img src="/assets/images/ocean-quest/02.jpg">
		<img src="/assets/images/ocean-quest/03.jpg">
		<img src="/assets/images/ocean-quest/04.jpg">
		<img src="/assets/images/ocean-quest/05.jpg">
		<img src="/assets/images/ocean-quest/06.jpg">
		{% include content-footer.inc.html %}
	</div>
</section>
